*.pdf
/.auctex-auto/
resume.synctex.gz
resume.aux
resume.fls
resume.xdv
resume.fdb_latexmk
resume.out
resume.log
董晨阳/CET-4.png
董晨阳/CET-6.jpg
董晨阳/ID-1.jpeg
董晨阳/ID-2.jpeg
董晨阳/PKU-logo.png
董晨阳/RIMS.pdf
董晨阳/名片.pdf
董晨阳/证件照(蓝底).jpeg
董晨阳/证件照(白底).jpg
董晨阳/证件照(红底).jpg
董晨阳/身份证.pdf
董晨阳/银行卡.pdf
董晨阳/生活照.png
董晨阳/三好学生.jpeg
董晨阳/成绩单中文.pdf
董晨阳/成绩单英文.pdf
董晨阳/一桌志愿证明.png
董晨阳/北京大学三等奖学金.jpeg
董晨阳/毕业证.JPG
董晨阳/录取通知书.jpg
董晨阳/学位证.JPG
